@charset 'UTF-8';

body {
  background-color: rgb(81, 81, 176);
  text-align: center;
  font: normal 15pt Arial;
}

header > h1 {
  color: white;
}

section {
  background-color: white;
  width: 500px;
  margin: auto;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.419);
}

section > div#msg {
  padding: 10px;
}

section > div > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

footer {
  color: white;
  font-style: italic;
}