@charset 'UTF-8';

body {
  font: normal 18pt Arial;
  background-color: rgb(114, 114, 223);
}
header {
  color: white;
}

header > h1 {
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.479);
}

section {
  background-color: white;
  width: 500px;
  border-radius: 8px;
  margin: auto;
  padding: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.492);
}

footer {
  border-radius: 6px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
  margin: auto;
  width: 500px;
  background-color: white;
  color: black;
  text-align: center;
  font-style: italic;
}